<ng-template #contenido let-modal>
    <div>
        <div class="modal-header">
            <h1 class="modal-title">Actualizar</h1>
            <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label>Valor Reserva</label>
            <input type="text" maxlength="100" placeholder="$$$$" name="book" [(ngModel)]="payedValue">
            <label>Fecha Desde</label>
            <input type="date" name="date" [(ngModel)]="dateIn">
            <label>Fecha Hasta</label>
            <input type="date" name="date" [(ngModel)]="dateOut">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="acceptSubmit();">Aceptar</button>
        </div>
    </div>
</ng-template>

<button type="button" class="btn btn-outline-success" (click)="openSM(contenido)">Actualizar</button>
