

<div class="row">
    <div class="col">
        <em class="fas fa-coffee"></em>
        <h1>CAFE-COWORKING</h1> 
    </div>
    <div class="col trm" >
        <em (click)="getTrm()" class="fas fa-search-dollar" ></em>
        <h4>  La TRM es ${{trm}}</h4>
    </div>
</div>
<hr>
<div class="row">    
    <hr>

    <div class="col-md-3" *ngFor="let espacio of espacios; let i = index">
        <div class="card" >
            <img class="card-img-top" src="../../../assets/default.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Espacio {{i+1}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div *ngIf="espacio.status" class="row" style="text-align: right;">

             
                    <app-actualizar [espacio]="espacio"></app-actualizar>
                    <app-eliminar [space_id]="espacio.space_id"></app-eliminar>
               
            </div>
            <div *ngIf="!espacio.status" class="row" style="text-align: right;">

                <app-agregar [espacio]="espacio"></app-agregar>
            </div>
            </div>
          </div>
          <br>

    </div>


</div>

<hr>