

<div class="row">
    <div class="col">
        <h1>CAFE-COWORKING</h1> 
    </div>
    <div class="col trm" >
        <button (click)="getTrm()"> $ </button>
        <h4>La TRM es ${{trm}}</h4>
    </div>
</div>
<hr>
<div class="row">

    <div class="col-md-12 col-xs-12" style="text-align: right;">
        <button class="btn btn-success" (click)="getSpaces()"> Refrescar </button>
    </div>
    
    <hr>

    <div class="col-md-3" *ngFor="let espacio of espacios; let i = index">
        <em class="fas fa-laptop-code fa-5x"></em>
        <!-- <h4>Espacio #{{ i + 1 }}</h4> -->
            <div *ngIf="espacio.status">
                <!-- <em class="fas fa-times-circle" style="color: red;"></em> -->
                <!-- <p style="color: red;">Reservado</p> -->
                <div class="row">
                    <app-actualizar [espacio]="espacio"></app-actualizar>
                    <app-eliminar [space_id]="espacio.space_id"></app-eliminar>
                </div>
            </div>
            <div *ngIf="!espacio.status">
                <!-- <em class="fas fa-check-square" style="color: green;"></em> -->
                <!-- <p style="color: green;">Disponible</p> -->
                <app-agregar [espacio]="espacio"></app-agregar>
            </div>
    </div>


</div>

<hr>