<ng-template #contenido let-modal>
    <div>
        <div class="modal-header">
            <h1 class="modal-title">Eliminar</h1>
            <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Está seguro que desea eliminar la reserva?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="deleteSubmit(); modal.dismiss();">Aceptar</button>
        </div>
    </div>
</ng-template>

<button type="button" class="btn btn-outline-danger" (click)="openSM(contenido)">Eliminar</button>
