<ng-template #contenido let-modal>
    <div class="modal fade show" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Reservar</h5>
              <button type="button" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Valor</label>
                  <input type="text" maxlength="100" placeholder="Valor" class="form-control" name="book" [(ngModel)]="payedValue">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Desde</label>
                  <input type="date" name="date" [(ngModel)]="dateIn" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Hasta</label>
                    <input type="date" name="date" [(ngModel)]="dateOut" class="form-control">
                  </div>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" (click)="acceptSubmit(); modal.dismiss();">Aceptar</button>
              <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
</ng-template>

<button type="button" class="btn btn-outline-success" (click)="openSM(contenido)">Reservar</button>
